@page "/admin/addresource"
@inject DialogService DialogService
@inject ICreateResourceService _createResourceService
@rendermode InteractiveServer
@using System.Globalization
 
<RadzenDialog/>


<div id="main-container">
	<h1 id="header-text">Opret en ny ressource</h1><br/>
		<RadzenTemplateForm TItem="ResourceModel" Data="@resourceModel" Submit="@ShowDialog">
			<div id="resource-details-container">
				<label for="Name">Ressourcenavn</label><br />
				<RadzenTextBox Name="Name" @bind-Value=resourceModel.Name Placeholder="Navn på ressource..."></RadzenTextBox><br />
				<RadzenRequiredValidator Component="Name" Text="Angiv venligst ressourcenavn."></RadzenRequiredValidator><br/>
				<label for="Type">Ressourcetype</label><br />
				<RadzenDropDown Name="Type" @bind-Value=resourceModel.Type TValue="string" Data=@resourceTypes /><br />
				<RadzenRequiredValidator Component="Type" Text="Angiv venligst ressourcetype."></RadzenRequiredValidator><br/>
				<label for="BasePrice">Pris pr. dag</label><br />
				<RadzenNumeric Name="BasePrice" @bind-Value=resourceModel.BasePrice TValue="decimal" ShowUpDown="false" Placeholder="Pris i DKK..."></RadzenNumeric><br />
				<RadzenRequiredValidator Component="BasePrice" Text="Angiv venligst pris pr. dag i DKK."></RadzenRequiredValidator><br/>
				<label for="Location">Pladsnummer</label><br />
				<RadzenNumeric Name="BasePrice" @bind-Value=resourceModel.Location TValue="int" ShowUpDown="false" Placeholder="Pladsnr..."></RadzenNumeric><br />
				<RadzenRequiredValidator Component="BasePrice" Text="Angiv venligst pladsnr."></RadzenRequiredValidator><br/>
				<label for="Description">Beskrivelse</label><br />
				<RadzenTextArea id="Description" @bind-Value=resourceModel.Description Placeholder="Beskrivelse af ressource..." Rows="3" Cols="30"></RadzenTextArea><br/>
				<div id="add-button">
					<RadzenButton Icon="save" ButtonStyle="ButtonStyle.Success" ButtonType="ButtonType.Submit">Opret</RadzenButton>
				</div>
			</div>
		</RadzenTemplateForm>
</div>

@code {
	List<string> resourceTypes = new List<string>() { "Hytte", "Campingvognplads", "Teltplads" };
	TextInfo textInfo = new CultureInfo("da-DK", false).TextInfo;

	class ResourceModel
	{
		public string Name { get; set; }
		public string Type { get; set; }
		public decimal BasePrice { get; set; }
		public int Location { get; set;  }
		public string? Description { get; set; }
	}

	ResourceModel resourceModel = new ResourceModel();

	private async Task ShowDialog(ResourceModel resourceModel)
	{
		resourceModel.Name = textInfo.ToTitleCase(resourceModel.Name);
		var result = await DialogService.OpenAsync("Oprettelse af ny ressource", ds =>
        @<RadzenStack Gap="1.5rem">
            <h3>Ønsker du at tilføje en ny ressource med følgende informationer?</h3>
			<p><b>Navn: </b>@resourceModel.Name</p>
			<p><b>Type: </b>@resourceModel.Type</p>
			<p><b>Pris pr. dag: </b>@resourceModel.BasePrice ,-</p>
			<p><b>Pladsnummer: </b>@resourceModel.Location</p>
			<p><b>Beskrivelse: </b>@resourceModel.Description</p>
            <RadzenStack Orientation="Orientation.Horizontal" Gap="0.5rem" AlignItems="AlignItems.Center" JustifyContent="JustifyContent.SpaceBetween">
                <RadzenStack Orientation="Orientation.Horizontal">
                    <RadzenButton Text="Ja" Click="() => CreateResource(resourceModel, ds)" Style="width: 80px;" />
                    <RadzenButton Text="Nej" Click="() => ds.Close(false)" ButtonStyle="ButtonStyle.Light" />
                </RadzenStack>
            </RadzenStack>
        </RadzenStack>
	);
	}

	private async Task CreateResource(ResourceModel resourceModel, DialogService ds)
	{
		var uiDto = Mapper.Map<UICreateResourceDto>(resourceModel);
		var result = await _createResourceService.CreateResourceAsync(uiDto);

		ds.Close(true);

		if (result.IsSucces())
		{
			await SuccessDialog();
		}
		else if (result.IsError())
		{
			var errorMessage = result.GetError().Exception;
			await ErrorDialog(errorMessage);
		}

	}

	private async Task SuccessDialog()
	{
		var result = await DialogService.OpenAsync("Oprettelse af ny ressource", ds =>
		@<RadzenStack Gap="1.5rem">
            <h3>Ressourcen er blevet tilføjet.</h3>

            <RadzenStack Orientation="Orientation.Horizontal" Gap="0.5rem" AlignItems="AlignItems.Center" JustifyContent="JustifyContent.SpaceBetween">
                <RadzenStack Orientation="Orientation.Horizontal">
                    <RadzenButton Text="Ok" Click="() => ds.Close(true)" ButtonStyle="ButtonStyle.Light" />
                </RadzenStack>
            </RadzenStack>
        </RadzenStack>
	);
	}

	private async Task ErrorDialog(Exception errorMessage)
	{
		var result = await DialogService.OpenAsync("Der er opstået en fejl", ds =>
		@<RadzenStack Gap="1.5rem">
            <h3>@errorMessage.Message</h3>

            <RadzenStack Orientation="Orientation.Horizontal" Gap="0.5rem" AlignItems="AlignItems.Center" JustifyContent="JustifyContent.SpaceBetween">
                <RadzenStack Orientation="Orientation.Horizontal">
                    <RadzenButton Text="Ok" Click="() => ds.Close(true)" ButtonStyle="ButtonStyle.Light" />
                </RadzenStack>
            </RadzenStack>
        </RadzenStack>
		);
	}

}
