@page "/admin/add-resource"
@inject DialogService DialogService
@inject ICreateResourceCommand _createResourceCommand
@rendermode InteractiveServer
@using System.Globalization
@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.AspNetCore.Authorization
@attribute [Authorize(Roles = "Admin")]

<RadzenDialog/>

<PageTitle>Tilføj ressource</PageTitle>

<CascadingAuthenticationState>
	<AuthorizeView Roles="Admin">
	<Authorized>
		<p>Du må gerne se denne side</p>
	</Authorized>
	<NotAuthorized>
		<p>gå væk</p>
	</NotAuthorized>
</AuthorizeView>
</CascadingAuthenticationState>
<div id="main-content">
	<div id="resource-content">
	<h3 class="text-center padding-10px">Opret en ny ressource</h3>

		<RadzenTemplateForm TItem="ResourceModel" Data="@resourceModel" Submit="@ShowDialog">
			<RadzenStack>
				<RadzenStack Orientation="Orientation.Vertical" Gap="0.5 rem">
					<RadzenLabel Component="NameRequiredInput">
						Ressourcenavn <RadzenBadge BadgeStyle="BadgeStyle.Danger" Text="Skal udfyldes" Variant="Variant.Outlined" IsPill="true" class="rz-ml-1"/>
					</RadzenLabel>
					<RadzenTextBox Name="NameRequiredInput" @bind-Value=@resourceModel.Name Style="width: 100%; max-width: 400px;"/>
					<RadzenRequiredValidator Component="NameRequiredInput" Text="Navn skal angives" />
				</RadzenStack>

				<RadzenStack Orientation="Orientation.Vertical" Gap="0.5 rem">
					<RadzenLabel Component="TypeRequiredInput">
						Ressourcetype <RadzenBadge BadgeStyle="BadgeStyle.Danger" Text="Skal udfyldes" Variant="Variant.Outlined" IsPill="true" class="rz-ml-1"/>
					</RadzenLabel>
                    <RadzenDropDown Name="TypeRequiredInput" TValue="string" @bind-Value="resourceModel.Type" Data="@resourceTypes" Placeholder="Vælg type" Style="width: 100%; max-width: 400px;"/>
					<RadzenRequiredValidator Component="TypeRequiredInput" Text="Type skal angives"/>
				</RadzenStack>

				<RadzenStack Orientation="Orientation.Vertical" Gap="0.5 rem">
					<RadzenLabel Component="BasePriceRequiredInput">
						Pris pr. dag <RadzenBadge BadgeStyle="BadgeStyle.Danger" Text="Skal udfyldes" Variant="Variant.Outlined" IsPill="true" class="rz-ml-1"/>
					</RadzenLabel>
					<RadzenNumeric Name="BasePriceRequiredInput" Min="0" @bind-Value=@resourceModel.BasePrice TValue="decimal" ShowUpDown="false" Placeholder="Pris i DKK..."/>
					<RadzenRequiredValidator Component="BasePriceRequiredInput" Text="Pris skal angives"/>
				</RadzenStack>

				<RadzenStack Orientation="Orientation.Vertical" Gap="0.5 rem">
					<RadzenLabel Component="LocationRequiredInput">
						Pladsnr. <RadzenBadge BadgeStyle="BadgeStyle.Danger" Text="Skal udfyldes" Variant="Variant.Outlined" IsPill="true" class="rz-ml-1"/>
					</RadzenLabel>
					<RadzenNumeric Name="LocationRequiredInput" Min="1" @bind-Value=@resourceModel.Location TValue="int" ShowUpDown="false" Placeholder="Pladsnr..."/>
					<RadzenRequiredValidator Component="LocationRequiredInput" Text="Pladsnr. skal angives"/>
				</RadzenStack>

				<RadzenStack Orientation="Orientation.Vertical" Gap="0.5 rem">
					<RadzenLabel Component="Description">
						Beskrivelse
					</RadzenLabel>
					<RadzenTextArea id="Description" @bind-Value=resourceModel.Description Placeholder="Beskrivelse af ressource..." Rows="3" Cols="30"></RadzenTextArea>
				</RadzenStack>
			<RadzenButton ButtonType="ButtonType.Submit" Text="Opret ressource" />
			</RadzenStack>
		</RadzenTemplateForm>
	</div>
	<div id="preview-content">
		<h3 class="text-center padding-10px">Forhåndsvisning</h3>

        <div id="resource-preview">

            <b><p>@resourceModel.Name</p></b>
            <p><b>Type: </b>@resourceModel.Type</p>
            <p><b>Pladsnr.: </b>@resourceModel.Location</p>

            <hr />

			<p><b>Beskrivelse: </b>@resourceModel.Description</p>

            <p><b>Pris pr. dag:</b></p>
            <h4>DKK @resourceModel.BasePrice ,-</h4>
        </div>
	</div>
</div>

@code {
	// DIALOG MESSAGES FOR THE CLIENT

	private async Task ShowDialog(ResourceModel resourceModel)
	{
		resourceModel.Name = textInfo.ToTitleCase(resourceModel.Name);
		var result = await DialogService.OpenAsync("Oprettelse af ny ressource", ds =>
        @<RadzenStack Gap="1.5rem">
            <h3>Ønsker du at oprette en ny ressource?</h3>
            <RadzenStack Orientation="Orientation.Horizontal" Gap="0.5rem" AlignItems="AlignItems.Center" JustifyContent="JustifyContent.SpaceBetween">
                <RadzenStack Orientation="Orientation.Horizontal">
                    <RadzenButton Text="Ja" Click="() => CreateResource(resourceModel, ds)" Style="width: 80px;" />
                    <RadzenButton Text="Nej" Click="() => ds.Close(false)" ButtonStyle="ButtonStyle.Light" />
                </RadzenStack>
            </RadzenStack>
        </RadzenStack>
		);
	}

	private async Task SuccessDialog()
	{
		var result = await DialogService.OpenAsync("Oprettelse af ny ressource", ds =>
		@<RadzenStack Gap="1.5rem">
            <h3>Ressourcen er blevet tilføjet.</h3>

            <RadzenStack Orientation="Orientation.Horizontal" Gap="0.5rem" AlignItems="AlignItems.Center" JustifyContent="JustifyContent.SpaceBetween">
                <RadzenStack Orientation="Orientation.Horizontal">
                    <RadzenButton Text="Ok" Click="() => ds.Close(true)" ButtonStyle="ButtonStyle.Light" />
                </RadzenStack>
            </RadzenStack>
        </RadzenStack>
		);
	}

	private async Task ErrorDialog(Exception errorMessage)
	{
		var result = await DialogService.OpenAsync("Der er opstået en fejl", ds =>
		@<RadzenStack Gap="1.5rem">
            <h3>@errorMessage.Message</h3>

            <RadzenStack Orientation="Orientation.Horizontal" Gap="0.5rem" AlignItems="AlignItems.Center" JustifyContent="JustifyContent.SpaceBetween">
                <RadzenStack Orientation="Orientation.Horizontal">
                    <RadzenButton Text="Ok" Click="() => ds.Close(true)" ButtonStyle="ButtonStyle.Light" />
                </RadzenStack>
            </RadzenStack>
        </RadzenStack>
		);
	}

}
