@page "/admin/manage-camp"
@using Application.ApplicationDto.Query
@inject IBookingCheckInQuery _checkInQuery
@inject IBookingCheckOutQuery _checkOutQuery
@rendermode RenderMode.InteractiveServer

<div id="main-container">
	<h1 id="header-text">Administrer campingplads</h1>
	<h3 id="middle-aligned-text">@currentDate</h3>

	@* <div id="buttons">
		<RadzenToggleButton Text="Check-ind" @bind-Value=@checkInActive Disabled=@checkInButtonDisabled Click=@checkInSelected ButtonStyle="ButtonStyle.Light" ToggleButtonStyle="ButtonStyle.Success" />
		<RadzenToggleButton Text="Check-ud" @bind-Value=@checkOutActive Disabled=@checkOutButtonDisabled Click=@checkOutSelected ButtonStyle="ButtonStyle.Light" ToggleButtonStyle="ButtonStyle.Success" />
	</div>
	<br /> *@

	<RadzenAccordion Multiple="true"> @* Tilføj og sæt Multiple til true for at tillade flere udvidelser samtidig. *@
		<Items>

			@* Check-Ind *@

			<RadzenAccordionItem Text="Check-Ind" Icon="star" CollapseTitle="Fold Ind"
								 ExpandTitle="Fold Ud"
								 ExpandAriaLabel="Fold check-ind sektionen ind/ud"> @* (Kun brugt til skærmoplæsning) *@

				@* Aktive Check-Ind *@

				@if (checkInActive)
				{
					<h2>Manglende indtjekninger</h2>
				}
				@if (_missingCheckIns.Any())
				{
					<RadzenTable GridLines=Radzen.DataGridGridLines.Horizontal AllowAlternatingRows=true>
						<RadzenTableHeader>
							<RadzenTableHeaderRow>
								<RadzenTableHeaderCell>
									Ressource
								</RadzenTableHeaderCell>
								<RadzenTableHeaderCell>
									Pladsnr.
								</RadzenTableHeaderCell>
								<RadzenTableHeaderCell>
									Kundenavn
								</RadzenTableHeaderCell>
								@if (checkInActive)
								{
									<RadzenTableHeaderCell>
										Startdato
									</RadzenTableHeaderCell>
								}
								@if (checkOutActive)
								{
									<RadzenTableHeaderCell>
										Slutdato
									</RadzenTableHeaderCell>
								}
								<RadzenTableHeaderCell>
									Ledig?
								</RadzenTableHeaderCell>
							</RadzenTableHeaderRow>
						</RadzenTableHeader>
						<RadzenTableBody>
							@if (checkInActive)
							{
								@foreach (ReadBookingMissingCheckInQueryResponseDto booking in _missingCheckIns)
								{
									<RadzenTableRow>
										<RadzenTableCell>
											@($"{booking.ResourceName}")
										</RadzenTableCell>
										<RadzenTableCell>
											@($"{booking.ResourceLocation}")
										</RadzenTableCell>
										<RadzenTableCell>
											@($"{booking.GuestName}")
										</RadzenTableCell>
										<RadzenTableCell>
											@($"{booking.BookingStartDate}")
										</RadzenTableCell>

										<RadzenTableCell>
											<div><RadzenIcon Icon="done" /></div>
										</RadzenTableCell>

										<RadzenTableCell Style="text-align: end;">
											<RadzenButton Text="Ændre" ButtonStyle="ButtonStyle.Success" />
										</RadzenTableCell>
										<RadzenTableCell Style="text-align: end;">
											<RadzenButton Text="Check-in" ButtonStyle="ButtonStyle.Success" />
										</RadzenTableCell>
									</RadzenTableRow>
								}
							}
						</RadzenTableBody>
					</RadzenTable>
				}
				@* Hvis ingen Check-Ind *@

				@if (!_missingCheckIns.Any() && checkInActive)
				{
					<h2>Ingen manglende indtjekninger for i dag.</h2>
				}

			</RadzenAccordionItem>

			@* ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// *@

			@* Check-Ud *@

			<RadzenAccordionItem Text="Check-Ud" Icon="star" CollapseTitle="Fold Ind"
								 ExpandTitle="Fold Ud"
								 ExpandAriaLabel="Fold check-ud sektionen ind/ud"> @* (Kun brugt til skærmoplæsning) *@

				@* Aktive Check-Ud *@

				@if (checkOutActive)
				{
					<h2>Manglende udtjekninger</h2>
				}
				@if (_missingCheckOuts.Any())
				{
					<RadzenTable GridLines=Radzen.DataGridGridLines.Horizontal AllowAlternatingRows=true>
						<RadzenTableHeader>
							<RadzenTableHeaderRow>
								<RadzenTableHeaderCell>
									Ressource
								</RadzenTableHeaderCell>
								<RadzenTableHeaderCell>
									Pladsnr.
								</RadzenTableHeaderCell>
								<RadzenTableHeaderCell>
									Kundenavn
								</RadzenTableHeaderCell>
								@if (checkInActive)
								{
									<RadzenTableHeaderCell>
										Startdato
									</RadzenTableHeaderCell>
								}
								@if (checkOutActive)
								{
									<RadzenTableHeaderCell>
										Slutdato
									</RadzenTableHeaderCell>
								}
								<RadzenTableHeaderCell>

								</RadzenTableHeaderCell>
							</RadzenTableHeaderRow>
						</RadzenTableHeader>
						<RadzenTableBody>
							@if (checkOutActive)
							{
								@foreach (ReadBookingMissingCheckOutQueryResponseDto booking in _missingCheckOuts)
								{
									<RadzenTableRow>
										<RadzenTableCell>
											@($"{booking.ResourceName}")
										</RadzenTableCell>
										<RadzenTableCell>
											@($"{booking.ResourceLocation}")
										</RadzenTableCell>
										<RadzenTableCell>
											@($"{booking.GuestName}")
										</RadzenTableCell>
										<RadzenTableCell>
											@($"{booking.BookingEndDate}")
										</RadzenTableCell>
										<RadzenTableCell Style="text-align: end;">
											<RadzenButton Text="Ændre" ButtonStyle="ButtonStyle.Success" />
										</RadzenTableCell>
										<RadzenTableCell Style="text-align: end;">
											<RadzenButton Text="Check-ud" ButtonStyle="ButtonStyle.Success" />
										</RadzenTableCell>
									</RadzenTableRow>
								}
							}
						</RadzenTableBody>
					</RadzenTable>
				}

				@* Hvis ingen Check-Ud *@

				@if (!_missingCheckOuts.Any() && checkOutActive)
				{
					<h2>Ingen manglende udtjekninger for i dag.</h2>
				}

			</RadzenAccordionItem>
		</Items>
	</RadzenAccordion>
</div>