@page "/GuestCreateBooking"
@rendermode InteractiveServer
@inject DialogService _dialogService
@inject IGetAllResourcesService _getAllResourcesService
@inject IGuestCreateBookingService _guestCreateBookingService
<RadzenDialog />

<PageTitle>Booking</PageTitle>

<h3>Opret booking</h3>

<RadzenTemplateForm TItem="GuestBookingModel" Data=@_guestBookingModel Submit="@GuestCreateBookingAsync">

    @* Email *@

    <RadzenStack Orientation="Orientation.Vertical" Gap="0.5rem">
        <RadzenLabel Component="Email"> Email </RadzenLabel>
        <RadzenTextBox Name="Email" @bind-Value=@_guestBookingModel.Email Style="width: 100%; max-width: 400px;" />
    </RadzenStack>

    @* Resources *@

    <RadzenStack Orientation="Orientation.Vertical" Gap="0.5rem">
        <RadzenLabel Text="Vælg ressource" Component="DropDownClear" />
        @if (_listOfResources != null && _listOfResources.Any())
        {
            <RadzenDropDown TValue="int" @bind-Value="_guestBookingModel.ResourceId" Data="_listOfResources" TextProperty="Name" ValueProperty="Id" AllowClear="true" Placeholder="Vælg ressource" Style="width: 100%; max-width: 400px;" Name="DropDownClear" />
        }
        else
        {
            <RadzenDropDown TValue="int" Data="Array.Empty<Resource>()" Placeholder="Loading..." Style="width: 100%; max-width: 400px;" Disabled="true" />
        }
    </RadzenStack>

    @* StartDate *@

    <RadzenStack Orientation="Orientation.Vertical" Gap="0.5rem">
        <RadzenDatePicker Name="StartDateInput" @bind-Value="_guestBookingModel.StartDate" DateFormat="dd/MM/yyyy"
                          Min="@DateTime.Now" Style="width:250px" />
        <ValidationMessage For="@(() => _guestBookingModel.StartDate)" />
        <RadzenRequiredValidator Component="StartDateInput" Text="Start dato skal sættes" />
    </RadzenStack>

    @* EndDate *@

    <RadzenStack Orientation="Orientation.Vertical" Gap="0.5rem">
        <RadzenDatePicker Name="EndDateInput" @bind-Value="_guestBookingModel.EndDate" DateFormat="dd/MM/yyyy"
                          Min="@DateTime.Now" Style="width:250px" />
        <ValidationMessage For="@(() => _guestBookingModel.StartDate)" />
        <RadzenRequiredValidator Component="StartDateInput" Text="Slut dato skal sættes" />
    </RadzenStack>

    <RadzenButton Text="Opret booking" Click="ConfimationPopup" />

</RadzenTemplateForm>

<p>Message: @_guestBookingMessage</p>

@code
{
    private async Task ConfimationPopup()
    {
        // Find selected resource
        var selectedResource = _listOfResources.FirstOrDefault(r => r.Id == _guestBookingModel.ResourceId);
        _guestBookingModel.Resource = selectedResource;

        // Open confirmation dialog
        var result = await _dialogService.OpenAsync("Oprettelse af ny booking", ds => @<RadzenStack Gap="1.5rem">

            <h3>Er du sikker på at du vil oprette denne booking?</h3>

            <p><b>Email:</b> @_guestBookingModel.Email</p>
            <p><b>Ressource:</b> @_guestBookingModel.Resource.Name</p>
            <p><b>Start:</b> @_guestBookingModel.StartDate</p>
            <p><b>Slut:</b> @_guestBookingModel.EndDate</p>
            <p><b>Total pris:</b> @CalculateTotalPrice(_guestBookingModel)</p>

            <RadzenStack Orientation="Orientation.Horizontal"
                         Gap="0.5rem"
                         AlignItems="AlignItems.Center"
                         JustifyContent="JustifyContent.SpaceBetween">

                <RadzenStack Orientation="Orientation.Horizontal">
                    <RadzenButton Text="Ja"
                                  Click="async () => { await GuestCreateBookingAsync(_guestBookingModel); ds.Close(true); }"
                                  Style="width:80px;" />
                    <RadzenButton Text="Nej"
                                  Click="() => ds.Close(false)"
                                  ButtonStyle="ButtonStyle.Light" />
                </RadzenStack>

            </RadzenStack>

        </RadzenStack>);
    }
}