@page "/GuestCreateBooking"
@rendermode InteractiveServer
@inject DialogService DialogService
@inject IGetAllResourcesService _getAllResourcesService
@inject IGuestCreateBookingService _guestCreateBookingService
<RadzenDialog />

<PageTitle>Booking</PageTitle>

<h3>Opret booking</h3>

<RadzenTemplateForm TItem="GuestBookingModel" Data=@_guestBookingModel Submit="@GuestCreateBookingAsync">

    @* Email *@

    <RadzenStack Orientation="Orientation.Vertical" Gap="0.5rem">
        <RadzenLabel Component="Email"> Email </RadzenLabel>
        <RadzenTextBox Name="Email" @bind-Value=@_guestBookingModel.Email Style="width: 100%; max-width: 400px;" />
    </RadzenStack>

    @* Resources *@

    <RadzenStack Orientation="Orientation.Vertical" Gap="0.5rem">
        <RadzenLabel Text="Vælg ressource" Component="DropDownClear" />
        @if (_listOfResources != null && _listOfResources.Any())
        {
            <RadzenDropDown TValue="int" @bind-Value="_guestBookingModel.ResourceId" Data="_listOfResources" TextProperty="Name" ValueProperty="Id" AllowClear="true" Placeholder="Vælg ressource" Style="width: 100%; max-width: 400px;" Name="DropDownClear" />
        }
        else
        {
            <RadzenDropDown TValue="int" Data="Array.Empty<Resource>()" Placeholder="Loading..." Style="width: 100%; max-width: 400px;" Disabled="true" />
        }
    </RadzenStack>

    @* StartDate *@

    <RadzenStack Orientation="Orientation.Vertical" Gap="0.5rem">
        <RadzenLabel Component="StartDateInput">
            Start dato <RadzenBadge BadgeStyle="BadgeStyle.Danger" Text="Skal udfyldes" Variant="Variant.Outlined" IsPill="true" class="rz-ml-1" />
        </RadzenLabel>
        <RadzenDatePicker Name="StartDateInput" @bind-Value="_guestBookingModel.StartDate" DateFormat="dd/MM/yyyy"
                          Min="@DateTime.Now" Style="width:250px" />
        <ValidationMessage For="@(() => _guestBookingModel.StartDate)" />
        <RadzenRequiredValidator Component="StartDateInput" Text="Start dato skal sættes" />
    </RadzenStack>

    @* EndDate *@

    <RadzenStack Orientation="Orientation.Vertical" Gap="0.5rem">
        <RadzenLabel Component="EndDateInput">
            Slut dato <RadzenBadge BadgeStyle="BadgeStyle.Danger" Text="Skal udfyldes" Variant="Variant.Outlined" IsPill="true" class="rz-ml-1" />
        </RadzenLabel>
        <RadzenDatePicker Name="EndDateInput" @bind-Value="_guestBookingModel.EndDate" DateFormat="dd/MM/yyyy"
                          Min="@DateTime.Now" Style="width:250px" />
        <ValidationMessage For="@(() => _guestBookingModel.StartDate)" />
        <RadzenRequiredValidator Component="StartDateInput" Text="Slut dato skal sættes" />
    </RadzenStack>

    <RadzenButton ButtonType="ButtonType.Submit" Text="Opret booking" />

</RadzenTemplateForm>

